<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    testdox="true">
    <testsuites>
        <testsuite name="Dashboard Core">
            <directory>tests/Dashboard</directory>
        </testsuite>
        <testsuite name="Features">
            <directory>tests/Features</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">dashboard</directory>
            <directory suffix=".php">features</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>node_modules</directory>
        </exclude>
    </coverage>
    <php>
        <env name="WP_ENV" value="testing"/>
        <env name="WP_DEBUG" value="true"/>
    </php>
</phpunit> 